<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
        padding-bottom:0;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div> -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="home">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">RRHH
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/employees/list">Employees</a></li>
          </ul>
        </li>
      </ul>
  </div>
</nav>

  
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-left">

     Listado Personal

     <div class="x_content">
        
      <div>
        <a href="/employees/edition" title="add a new employee">Add</a>
      </div>  

        <!-- <table id="violations-table" class="table table-striped table-bordered" width="100%" ></table> -->
        <table id="lista_personal">
            <thead>
              <tr>
                <th><input type="checkbox" id="check-all" class="flat" /></th>
                <th>FirsName</th>
                <th>LastName</th>
                <th>Social Security Number</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>

    </div>


  </div>
</div>
</div>

<div class="loading-modal" style="display: none">
    <div class="center">
        <img alt="" src="../images/ajax-loader.gif" />
    </div>
</div>

<footer class="container-fluid text-center">
  <p>© 2018 Sistema activos Fijos  - Todo los derechos reservados.</p>
</footer>

<script  type="text/javascript" src="../jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../DataTables-1.10.16/js/jquery.dataTables.min.js"></script>
<script  type="text/javascript" src="../bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../DataTables-1.10.16/css/jquery.dataTables.css"/>
<link rel="stylesheet" href="../css/bootstrap.min.local.css">
<link rel="stylesheet" href="../css/style.css">


<!-- <link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.10.5/css/jquery.dataTables.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"> -->
<!-- <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script> -->


<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
        //$("#lista_personal").dataTable();
        loadData();
    });

    function loadData(){
      $.ajax({
                url : "/employees-list",
                method: "GET",
                xhrFields: {
                    withCredentials: true
                },
                beforeSend : function (xhrObj) {
                    $(".loading-modal").show();
                    xhrObj.setRequestHeader("Content-Type", "application/json");
                    //xhrObj.setRequestHeader("X-API-KEY", token);
                }
            })
            .done(function (result, status, xhr) {
                llenarListaPersonal(result);
            })
            .fail(function (error) {
                alert("Unexpected error: " + JSON.stringify (error));
            })
            .always(function () {
                $(".loading-modal").hide();
            });
    }

    function llenarListaPersonal(response) {

      var tablaListaPersonal  = $("#lista_personal").DataTable({
                "autoWidth": false,
                "ordering": false,
                "select": true,
                "processing": true,
                "data": response,
                "columnDefs":[
                    {
                        // Checkbox
                        "width": "5%",
                        "targets": 0,
                        "data": "EmployeeId",
                        "render": function (data, type, full, meta){
                            return '<input type="checkbox" id="check-' + data + '" class="flat"/>';
                        }
                    },
                    {
                        // Nombres
                        "data": "FirstName",
                        "targets": 1,
                        "width": "25%"
                    },
                    {
                        // Apellidos
                        "data" : "LastName",
                        "targets": 2,
                        "width": "25%"
                    },
                    {
                        // Doc. Identidad
                        "data": "SocialSecurityNumber",
                        "targets": 3,
                        "width": "25%"
                    },
                    {
                        "width": "20%",
                        "targets": 4,
                        "data": "personalencargadoid",
                        "render": function (data, type, full, meta){
                            return "<a name=editar href='/employees/edition?id"+ data +"' title='edit employee'>editar</a>" 
                            + "<a name=eliminar onclick='javascript:deleteEmployee("+ data +")' title='delete employee'>delete</a>";
                        }
                    }
                ]
            });
    }

    function deleteEmployee(id){
      alert("Are you sure to remove the employee ?");
    }

</script>

</body>
</html>
